node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs

.git
.gitignore

.env
.env.local
.env.*

coverage
build
dist

data/listing-images

**/*service-account*.json
**/*credentials*.json
**/*private-key*.json
**/firebase-service-account*.json
